<template>
    <div>Second Product  List{{this.$store.state.count}}
    <button v-on:click="handleValue">Click To increment</button>
    <ul>
    <li v-for="aStudent in updateStudendsInfo" :key="aStudent">
    {{aStudent.name}}
    {{aStudent.age}}
    {{aStudent.grade}}
    </li>
    </ul>
    </div>
</template>
<script>
export default {
    computed:{
        allStudents() {
            return this.$store.state.students;
        },
        
        updateStudendsInfo() {
            return this.$store.getters.updateStudent;
        }
        
    },
    methods:{
      handleValue:function() {
          return this.$store.commit('handleValue');
      }
  }
}
</script>
<style scoped>

</style>