<template>
  <div>
    First Product List
    <button v-on:click="usingaction">Click To increment</button>
    <ul>
      <li v-for="aStudent in updateStudendsInfo" :key="aStudent">
        {{aStudent.name}}
        {{aStudent.age}}
        {{aStudent.grade}}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  computed: {
    allStudents() {
      return this.$store.state.students;
    },
    updateStudendsInfo() {
      return this.$store.getters.updateStudent;
    },
  },
  methods: {
    handleValue: function () {
      return this.$store.commit("handleValue");
    },
    usingaction: function () {
      return this.$store.dispatch("increment");
    },
  },
};
</script>
<style scoped>
</style>