<template>
  <div>
 
    <product-first></product-first>
    <product-second></product-second>
    
  </div>
</template>
<script>


export default {
  
  data() {
    return {
     
    }
  },
  components:{
  }
  
}
</script>

<style>

</style>>