<template>
    <div>Footer 
    <button v-on:click="updateName">Click Me From Footer</button>
    </div>
</template>
<script>
//import {bus} from '../../main';
export default {
    data() {
        return{
          
        }
    },
    methods:{
        updateName() {
            this.$emit('updateValue','shourov')
        }
    }
}
</script>>