<template>
    <div>Headers
   <h1><b>{{desig}}</b></h1>
   <button v-on:click="sendFromComToCom">Communicate From Component to component</button>
    <li v-for="student in mystudents" :key="student">
    {{student}}
    </li>
    </div>
</template>
<script>
import {bus} from '../../main';
export default {
    props:['mystudents','desig'],
    
    methods:{
       sendFromComToCom() {
          bus.$emit('changeDesi','Senior Sofware Engineer');
       }
    }

    
}
</script>>